
.sessaoVisitados{
    background-color: white;
    padding-top: 1.5rem;
}

.TopicosGruposVisitados{
   background:var(--color-gradiente);
   padding: 1.5rem .5rem;
   
}

.tituloTopico{
color: var(--color-branco);
text-align: center;
font-size: 1rem;
font-weight: 300;
}

.listaTopicosVisitados{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
    list-style: none;
    margin-top: 1rem;
}

.topicosVisitadosLink{
    color: var(--color-branco);
    background-color: var(--color-titulos);
    padding: 1rem;
    line-height:3.75rem;
    font-weight: 700;
    font-size: 14px;
}   

.topicosVisitadosLink:hover{
    background-color: var(--color-contraste);
    padding: 1.2rem;
    line-height:3.75rem;
}   


@media screen and (min-width:800px){
  
    .TopicosGruposVisitados{
        background:var(--color-gradiente);
        padding: 1.5rem 8.75rem;
        
     }
    
}


@media screen and (min-width:1000px){
  
    .TopicosGruposVisitados{
        background:var(--color-gradiente);
        padding: 5.5rem 10.75rem;
        
     }
    
}


@media screen and (min-width:1300px){
  
    .TopicosGruposVisitados{
        background:var(--color-gradiente);
        padding: 5.5rem 20.75rem;
        
     }
    
}